## Subqueries

In [ ]:
SELECT DISTINCT name
FROM languages
-- Add syntax to use bracketed subquery below as a filter
WHERE code IN
    (SELECT code
    FROM countries
    WHERE region = 'Middle East')
ORDER BY name;

In [ ]:
SELECT *
FROM populations
-- Filter for only those populations where life expectancy is 1.15 times higher than average
WHERE life_expectancy > 1.15 * 
  (SELECT AVG(life_expectancy)
   FROM populations
   WHERE year = 2015) 
    AND year = 2015;

In [ ]:
-- Select relevant fields from cities table
SELECT name, country_code, urbanarea_pop
FROM cities
-- Filter using a subquery on the countries table
WHERE name IN (
    SELECT capital
    FROM countries
)
ORDER BY urbanarea_pop DESC;

### Resultados equivalentes:

In [ ]:
-- Find top nine countries with the most cities
SELECT countries.name AS country, COUNT(country_code) AS cities_num
FROM countries
LEFT JOIN cities
ON countries.code = cities.country_code
-- Order by count of cities as cities_num
GROUP BY country
ORDER BY cities_num DESC, country ASC
LIMIT 9;

================================================

SELECT countries.name AS country,
-- Subquery that provides the count of cities   
  (SELECT COUNT(country_code)
   FROM cities
   WHERE country_code = countries.code) AS cities_num
FROM countries
ORDER BY cities_num DESC, country
LIMIT 9;

### Subquery inside FROM

In [ ]:
-- Select local_name and lang_num from appropriate tables
SELECT local_name, sub.lang_num
FROM countries,
  (SELECT code, COUNT(*) AS lang_num
  FROM languages
  GROUP BY code) AS sub
-- Where codes match
WHERE countries.code = sub.code
ORDER BY lang_num DESC;

In [ ]:
-- Select relevant fields
SELECT code, inflation_rate, unemployment_rate
FROM economies
WHERE year = 2015 
  AND code NOT IN
-- Subquery returning country codes filtered on gov_form
	(SELECT code
  FROM countries
  WHERE gov_form NOT IN ('Republic', 'Monarchy')
    AND countries.code = economies.code)
ORDER BY inflation_rate;

In [ ]:
-- Select relevant fields
SELECT code, inflation_rate, unemployment_rate
FROM economies
WHERE year = 2015 
  AND code NOT IN
-- Subquery returning country codes filtered on gov_form
    (SELECT code
     FROM countries
     WHERE (gov_form LIKE '%Monarchy%' OR gov_form LIKE '%Republic%'))
ORDER BY inflation_rate;

In [ ]:
-- Select fields from cities
SELECT name,
    country_code,
    city_proper_pop, 
    metroarea_pop,
    city_proper_pop/metroarea_pop * 100 AS city_perc
FROM cities
-- Use subquery to filter city name
WHERE name IN (
    SELECT capital
    FROM countries
    WHERE (continent LIKE '%America'
        OR continent = 'Europe')
    AND countries.capital = cities.name
)
-- Add filter condition such that metroarea_pop does not have null values
AND metroarea_pop IS NOT NULL
-- Sort and limit the result
ORDER BY city_perc DESC
LIMIT 10;